/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #0f0f0f;
    color: #ffffff;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #111;
    border-bottom: 1px solid #222;
}

nav h2 {
    font-size: 24px;
    color: #00f2fe;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #00f2fe;
}

/* HERO SECTION */
.hero {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: linear-gradient(145deg, #0f0f0f, #1a1a1a);
}

.hero h1 {
    font-size: 55px;
    margin-bottom: 15px;
}

.hero span {
    color: #00f2fe;
}

.hero p {
    font-size: 20px;
    color: #aaa;
    margin-bottom: 30px;
}

/* BUTTON */
.btn {
    padding: 12px 28px;
    background: linear-gradient(90deg, #00f2fe, #4facfe);
    border: none;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #00f2fe;
}

/* CONTENT SECTION */
.content {
    padding: 80px;
    text-align: center;
}

/* CARD DESIGN */
.card {
    background: #151515;
    padding: 30px;
    margin: 30px auto;
    width: 60%;
    border-radius: 20px;
    border: 1px solid #222;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px #00f2fe;
}

/* CONTACT SECTION */
.contact-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px;
}

.info-card {
    background: #151515;
    padding: 25px;
    width: 250px;
    border-radius: 15px;
    border: 1px solid #222;
    transition: 0.3s;
}

.info-card:hover {
    box-shadow: 0 0 20px #00f2fe;
}

/* FORM */
.contact-form {
    background: #151515;
    padding: 35px;
    width: 350px;
    border-radius: 20px;
    border: 1px solid #222;
}

input, textarea {
    width: 100%;
    margin: 12px 0;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #333;
    background: #0f0f0f;
    color: white;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(90deg, #00f2fe, #4facfe);
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 0 15px #00f2fe;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    border-top: 1px solid #222;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .hero h1 {
        font-size: 35px;
    }

    .card {
        width: 90%;
    }

    .contact-form {
        width: 90%;
    }
}
